    <div class="header">
      <div class="header-logo">
        <a href="body_home_nouser"><img src="Photos/logo.png" class="header-logo-item" /></a>
      </div>
      
      <div class="header-profile">
        <a href="login">
          <button class="header-profile-button">
            Login
          </button>
        </a>
      </div>
    </div>
